/* Theme (hover colors are obtained by adding +-15/255 to Val when in HSV) */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #1B1C18;
        --on-background: #E3E3DB;
        --surface: #212617;
        --surface-hover: #2e3520;
        --on-surface: #E3E3DB;
        --on-surface-hover: #f2f2e9;
        --primary: #84DD00;
        --primary-hover: #8eec00;
        --on-primary: #1D3700;
        --on-primary-hover: #254600;
        --secondary: #2C5000;
        --secondary-hover: #345f00;
        --on-secondary: #9CFB29;
        --on-secondary-hover: #9fff2a;
        --monochrome-filter: brightness(0) saturate(100%) invert(100%);
    }
}
@media not (prefers-color-scheme: dark) {
    :root {
        --background: #FDFCF5;
        --on-background: #1B1C18;
        --surface: #F3F4E8;
        --surface-hover: #ecede1;
        --on-surface: #1B1C18;
        --on-surface-hover: #0d0d0b;
        --primary: #3C6A00;
        --primary-hover: #345b00;
        --on-primary: #FFFFFF;
        --on-primary-hover: #f0f0f0;
        --secondary: #DBE7C8;
        --secondary-hover: #cdd8bb;
        --on-secondary: #151E0B;
        --on-secondary-hover: #0b0f05;
        --monochrome-filter: brightness(0) saturate(100%);
    }
}

/* Responsive UI */
@media (min-width: 650px) {
    :root {
        --margin-big: 24px;
        --margin-medium: 16px;
        --margin-small: 12px;
    }
    .home_page {
        display: grid;
        grid-template-columns: 2fr 5fr;
        column-gap: var(--margin-big);
    }
    .home_page_header {
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
        max-width: 300px;
        display: flex;
        flex-direction: column;
    }
    .home_page_content {
        height: fit-content;
    }
}
@media not (min-width: 650px) {
    :root {
        --margin-big: 16px;
        --margin-medium: 12px;
        --margin-small: 8px;
    }
}
.home_page_header {
    margin-top: var(--margin-big);
    background: var(--surface);
    color: var(--on-surface);
    border-radius: var(--margin-big);
    padding: var(--margin-big);
}
.home_page_content {
    padding-top: var(--margin-big);
}

/* Handles switching between pages based on # target */
.target_page,
.target_page:target ~ .default_page {
    display: none;
}
.default_page,
.target_page:target {
    display: block;
}
@media not (min-width: 650px) {
    /* Do not show header on mobile when targeting another page */
    .home_page_header:has(~ :target) {
        display: none;
    }
}

/* Remove useless margins and paddings */
body {
    margin: 0;
}
div {
    margin: 0;
}
p {
    margin: 0;
}
table,
thead,
tbody,
tfoot,
tr,
th,
td {
    padding: 0;
    border-collapse: collapse;
}

/* Chips */
.chip_list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
    column-gap: 6px;
}
.chip_list_single_line {
    overflow: hidden;
    height: 27px;
}
.chip {
    background-color: var(--secondary);
    color: var(--on-secondary);
    border-radius: 8px;
    padding: 4px;
    font-style: normal;
    text-decoration: none;
    position: relative;
}
a.chip {
    /* Always on top, to allow nested links */
    z-index: 999;
}
a.chip:hover {
    background-color: var(--secondary-hover);
    color: var(--on-secondary-hover);
}
.chip::before {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
}
.chip::after {
    padding-left: 24px;
    font-size: small;
    font-family: "Roboto Condensed";
}

/* General elements */
html {
    background: var(--background);
    color: var(--on-background);
    font-family: "Roboto";
    /* top padding is set in every page individually */
    padding-left: var(--margin-big);
    padding-right: var(--margin-big);
    padding-bottom: var(--margin-big);
}
img.monochrome {
    filter: var(--monochrome-filter);
}

/* Header elements */
.header_image, .header_subimage {
    clip-path: circle();
    aspect-ratio: 1/1;
}
.header_nickname {
    font-weight: 300;
}
@media (min-width: 650px) {
    .header_image {
        max-width: min(170px, 100%);
    }
    .header_subimage {
        max-width: min(56.1px, 33%);
        margin-left: max(-56.1px, -33%);
    }
    .header_name {
        margin-top: 8px;
        font-size: 2.4em;
    }
    .header_nickname {
        margin-top: 4px;
        font-size: 1.2em;
    }
}
@media not (min-width: 650px) {
    .header_image_name_nickname {
        display: flex;
        align-items: center;
    }
    .header_image {
        max-width: 64px;
        margin-right: 12px;
    }
    .header_subimage {
        max-width: 21.12px;
        margin-left: -33.12px;
    }
    .header_name {
        font-size: 1.7em;
    }
    .header_nickname {
        font-size: 1.0em;
    }
    .header_link_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.header_link_list {
    margin-top: 24px;
    margin-bottom: 8px;
}
.header_link img {
    width: 1.5em;
    aspect-ratio: 1/1;
    filter: var(--monochrome-filter);
    margin-right: 8px;
}
.header_link {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-align: start;
    font-size: 0.9em;
    margin-bottom: 4px;
    overflow: hidden;
}
.header_link a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header_chip_list_title {
    margin-top: 12px;
    font-size: 1.1em;
    font-weight: bold;
}
.header_chip_list {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Content elements */
.section + .section .section_title {
    margin-top: 36px;
}
.section_title {
    font-size: x-large;
    margin-bottom: 12px;
}
.section_subtitle {
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: 8px;
}
.section_box_list {
    --box-horizontal-padding: var(--margin-medium);
    --box-vertical-padding: var(--margin-medium);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: var(--box-list-spacing);
    /* not using row-gap because .box_placeholder should not count as a real row */
    margin-bottom: calc(0px - var(--box-list-spacing));
}
.box {
    width: var(--box-item-width);
    flex-grow: 1;
    background: var(--surface);
    color: var(--on-surface);
    border-radius: var(--margin-medium);
    padding-top: var(--box-vertical-padding);
    padding-bottom: var(--box-vertical-padding);
    padding-right: var(--box-horizontal-padding);
    padding-left: var(--box-horizontal-padding);
    margin-bottom: var(--box-list-spacing);
    /* needed for .box_overlaid_link to work correctly */
    position: relative;
}
.box_placeholder {
    /* an invisible project box to make sure all boxes have
    the same size (otherwise with flex-grow: 1 items on the last row
    may get more stretched if the row is not filled) */
    width: var(--box-item-width);
    flex-grow: 1;
    padding-right: var(--box-horizontal-padding);
    padding-left: var(--box-horizontal-padding);
}
.box_overlaid_link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: inherit;
}
.box:has(.box_overlaid_link):hover {
    background: var(--surface-hover);
    color: var(--on-surface-hover);
}
.box_title {
    font-size: large;
    font-weight: bolder;
}
.box_title::before {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 0 center;
    filter: var(--monochrome-filter);
    width: 16px;
    height: 100%;
    content: "";
    padding-right: 20px;
}
.ellipsize {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Project list */
.section_project_list {
    --box-item-width: 320px;
    --box-list-spacing: 12px;
}
.project_box {
    display: flex;
    flex-direction: column;
}
.project_box_normal_title::before {
    background-image: url("../images/project.svg");
}
.project_box_contributed_title::before {
    background-image: url("../images/contributed.svg");
}
.project_box_work_title::before {
    background-image: url("../images/work.svg");
}
.project_box_description {
    font-size: small;
    margin-top: 4px;
    margin-bottom: 9px;
}
.project_box_chip_list {
    margin-top: auto;
}
.project_box_image {
    float: right;
    width: 64px;
    height: 64px;
    margin-bottom: 4px;
    margin-left: 4px;
    z-index: 0;
}

/* Category list */
.section_category_list {
    --box-item-width: 160px;
    --box-list-spacing: 8px;
    --box-horizontal-padding: var(--margin-small);
}
.or_click_on_chips {
    font-weight: normal;
    font-style: italic;
}
.or_click_on_chips + a.chip {
    /* hack to prevent the chip icon from being rendered badly (likely Firefox bug as
    it only happens for this chip, the issue goes away after disabling/enabling any
    CSS rule, and does not happen in Chromium */
    position: unset !important;
    font-weight: normal;
}
.category_box {
    width: var(--box-item-width);
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category_box_all_projects {
    background: var(--secondary);
    color: var(--on-secondary);
    font-size: x-large;
    text-decoration: none;
}
.category_box_all_projects:hover {
    background: var(--secondary-hover);
    color: var(--on-secondary-hover);
}
.category_box_image {
    height: 38px;
    width: 38px;
    margin-right: 8px;
}
.category_box_title {
    flex-grow: 1;
}

/* Job list */
.section_job_list {
    --box-item-width: 320px;
    --box-list-spacing: 12px;
}
.job_box_title::before {
    background-image: url("../images/work.svg");
}
.job_box_description {
    font-size: small;
    margin-top: 4px;
    margin-bottom: 36px;
}
.job_box_chip_list {
    position: absolute;
    bottom: var(--margin-medium);
    left: var(--margin-medium);
}
.job_box_image {
    float: right;
    width: 64px;
    height: 64px;
    margin-bottom: 4px;
    margin-left: 4px;
    z-index: 0;
}

/* Competition and talk list */
.section_competition_list,
.section_talk_list {
    --box-item-width: 190px;
    --box-list-spacing: 10px;
}
.competition_box,
.talk_box {
    display: flex;
    flex-direction: column;
}
.competition_box_title,
.talk_box_title {
    margin-bottom: 2px;
}
.competition_box_title::before {
    background-image: url("../images/competition.svg");
}
.talk_box_title::before {
    background-image: url("../images/talk.svg");
}
.competition_box_description,
.talk_box_description {
    font-size: small;
    font-style: italic;
    margin-bottom: 3px;
}
.competition_box_chip_list,
.talk_box_chip_list {
    margin-top: auto;
}
.box_list_all_competitions_talks {
    width: calc(var(--box-item-width) + 2 * var(--margin-medium));
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    justify-content: space-between;
    text-align: center;
    row-gap: 8px;
    margin-bottom: var(--box-list-spacing);
}
.box_all_competitions_talks {
    background: var(--secondary);
    color: var(--on-secondary);
    border-radius: var(--margin-small);
    padding: var(--margin-small);
    font-size: large;
    text-decoration: none;
}
.box_all_competitions_talks:hover {
    background: var(--secondary-hover);
    color: var(--on-secondary-hover);
}

/* Toolbar */
.toolbar {
    min-height: 48px;
    margin-bottom: var(--margin-medium)
}
.toolbar_home_button {
    float: left;
    background-color: var(--secondary);
    width: 32px;
    height: 32px;
    border-radius: var(--margin-medium);
    padding: 8px;
    margin-right: 12px;
}
.toolbar_home_button:hover {
    background-color: var(--secondary-hover);
}
.toolbar_home_button::before {
    background-image: url("../images/home.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    filter: var(--monochrome-filter);
    width: 32px;
    height: 32px;
    content: "";
    position: absolute;
}
.toolbar_image {
    float: right;
    width: 48px;
    height: 48px;
    margin-left: 12px;
}
.toolbar_title {
    font-size: xx-large;
    padding-top: calc(24px - 0.5lh);
}
@media not (min-width: 900px) {
    /* On smaller screens center the title so that it looks better */
    .toolbar_title {
        text-align: center;
    }
}

/* Footer */
.footer {
    font-size: small;
    margin-top: 48px;
    text-align: center;
}
.footer_legend_item {
    margin-left: 4px;
    margin-right: 4px;
    display: inline-block;
}
.footer_legend_item::before {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 0 center;
    filter: var(--monochrome-filter);
    width: 16px;
    height: 100%;
    content: "";
    padding-right: 19px;
}
.footer_legend_item_competition::before {
    background-image: url("../images/competition.svg");
}
.footer_legend_item_talk::before {
    background-image: url("../images/talk.svg");
}

/* Fonts, obtained with https://gwfh.mranftl.com */
/* roboto-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v30-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/roboto-v30-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-condensed-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-condensed-v27-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
