/* Theme (hover colors are obtained by adding +-15/255 to Val when in HSV) */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #1B1C18;
        --on-background: #E3E3DB;
        --surface: #212617;
        --surface-hover: #2e3520;
        --on-surface: #E3E3DB;
        --on-surface-hover: #f2f2e9;
        --primary: #84DD00;
        --primary-hover: #8eec00;
        --on-primary: #1D3700;
        --on-primary-hover: #254600;
        --secondary: #2C5000;
        --secondary-hover: #345f00;
        --on-secondary: #9CFB29;
        --on-secondary-hover: #9fff2a;
        --monochrome-filter: brightness(0) saturate(100%) invert(100%);
    }
}
@media not (prefers-color-scheme: dark) {
    :root {
        --background: #FDFCF5;
        --on-background: #1B1C18;
        --surface: #F3F4E8;
        --surface-hover: #ecede1;
        --on-surface: #1B1C18;
        --on-surface-hover: #0d0d0b;
        --primary: #3C6A00;
        --primary-hover: #345b00;
        --on-primary: #FFFFFF;
        --on-primary-hover: #f0f0f0;
        --secondary: #DBE7C8;
        --secondary-hover: #cdd8bb;
        --on-secondary: #151E0B;
        --on-secondary-hover: #0b0f05;
        --monochrome-filter: brightness(0) saturate(100%);
    }
}

/* Responsive UI */
@media (min-width: 650px) {
    :root {
        --margin-big: 24px;
        --margin-medium: 16px;
    }
    .home_page {
        display: grid;
        grid-template-columns: 2fr 5fr;
        column-gap: var(--margin-big);
    }
    .home_page_header {
        margin: auto;
        height: fit-content;
        max-width: 300px;
        display: flex;
        flex-direction: column;
    }
    .home_page_content {
        height: fit-content;
    }
}
@media not (min-width: 650px) {
    :root {
        --margin-big: 16px;
        --margin-medium: 12px;
    }
    .home_page_content {
        margin-top: var(--margin-big);
    }
}
.home_page_header {
    background: var(--surface);
    color: var(--on-surface);
    border-radius: var(--margin-big);
    padding: var(--margin-big);
}

/* Handles switching between pages based on # target */
.target_page,
.target_page:target ~ .default_page {
    display: none;
}
.default_page,
.target_page:target {
    display: block;
}
@media not (min-width: 650px) {
    /* Do not show header on mobile when targeting another page */
    .home_page_header:has(~ :target) {
        display: none;
    }
}

/* Remove useless margins and paddings */
body {
    margin: 0;
}
div {
    margin: 0;
}
p {
    margin: 0;
}
table,
thead,
tbody,
tfoot,
tr,
th,
td {
    padding: 0;
    border-collapse: collapse;
}

/* Chips */
.chip_list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
    column-gap: 6px;
}
.chip {
    background-color: var(--secondary);
    color: var(--on-secondary);
    border-radius: 8px;
    padding: 4px;
    text-decoration: none;
}
a.chip {
    /* Always on top, to allow nested links */
    z-index: 999;
}
a.chip:hover {
    background-color: var(--secondary-hover);
    color: var(--on-secondary-hover);
}
.chip::before {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
}
.chip::after {
    padding-left: 24px;
    font-size: small;
    font-weight: 300;
}

/* General elements */
html {
    background: var(--background);
    color: var(--on-background);
    font-family: "Roboto";
    padding: var(--margin-big);
}
img.monochrome {
    filter: var(--monochrome-filter);
}

/* Header elements */
.header_image {
    clip-path: circle();
    aspect-ratio: 1/1;
}
.header_nickname {
    font-weight: 300;
}
@media (min-width: 650px) {
    .header_image {
        max-width: min(170px, 100%);
    }
    .header_name {
        margin-top: 8px;
        font-size: 2.4em;
    }
    .header_nickname {
        margin-top: 4px;
        font-size: 1.2em;
    }
}
@media not (min-width: 650px) {
    .header_image_name_nickname {
        display: flex;
        align-items: center;
    }
    .header_image {
        float: left;
        max-width: 64px;
        margin-right: 12px;
    }
    .header_name {
        margin-top: max(0, calc(5px + 1lh - 100%));
        font-size: 1.7em;
    }
    .header_nickname {
        margin-top: 2px;
        font-size: 1.0em;
    }
}
.header_links {
    margin-top: 24px;
    margin-bottom: 8px;
    border-collapse: separate;
    border-spacing: 0px 0px;
}
.header_link_image_td {
    text-align: end;
    width: 1.5em;
}
.header_link_image {
    width: 100%;
    aspect-ratio: 1/1;
    filter: var(--monochrome-filter);
}
.header_link_text_td {
    text-align: start;
    padding-left: 8px;
    font-size: 0.9em;
    padding-bottom: 0.2em;
}
.header_chip_list_title {
    margin-top: 12px;
    font-size: 1.1em;
    font-weight: bold;
}
.header_chip_list {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Content elements */
.section_title {
    font-size: xx-large;
}
.section_project_list {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    align-items: stretch;
    column-gap: 12px;
    /* not using row-gap because .project_box_placeholder should not count as a real row*/
    margin-bottom: -12px;
}
.project_box {
    width: 320px;
    flex-grow: 1;
    background: var(--surface);
    color: var(--on-surface);
    margin-bottom: 12px;
    border-radius: var(--margin-medium);
    padding: var(--margin-medium);
    position: relative;
    display: flex;
    flex-direction: column;
}
.project_box:hover {
    background: var(--surface-hover);
    color: var(--on-surface-hover);
}
.project_box_placeholder {
    /* an invisible project box to make sure all project boxes have
    the same size (otherwise with flex-grow: 1 items on the last row
    may get more stretched if the row is not filled) */
    width: 320px;
    flex-grow: 1;
    padding-left: var(--margin-medium);
    padding-right: var(--margin-medium);
}
.project_box_link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    border-radius: var(--margin-medium);
}
.project_box_title {
    font-size: large;
    font-weight: bolder;
}
.project_box_title::before {
    background-image: url("../images/project.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 0 center;
    filter: var(--monochrome-filter);
    width: 16px;
    height: 100%;
    content: "";
    padding-right: 20px;
}
.project_box_description {
    font-size: small;
    margin-top: 4px;
    margin-bottom: 9px;
}
.project_box_chip_list {
    margin-top: auto;
}
.project_box_image_wrapper {
    min-height: 64px;
}
.project_box_image_wrapper > .project_box_title,
.project_box_image_wrapper > .project_box_description {
    margin-right: 72px;
}
.project_box_image {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 64px;
    height: 64px;
}

/* Toolbar */
.toolbar {
    display: flex;
    position: relative;
}
.toolbar_back_button {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: var(--secondary);
    width: 32px;
    height: 32px;
    border-radius: var(--margin-medium);
    padding: 8px;
}
.toolbar_back_button:hover {
    background-color: var(--secondary-hover);
}
.toolbar_back_button::before {
    background-image: url("../images/back.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    filter: var(--monochrome-filter);
    width: 32px;
    height: 32px;
    content: "";
    position: absolute;
}
.toolbar_title {
    font-size: xx-large;
}
.toolbar_image {
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
}
@media (min-width: 525px) {
    .toolbar_title {
        margin-top: calc(24px - 0.5lh);
        margin-left: 64px;
        margin-right: 64px;
    }
}
@media not (min-width: 525px) {
    /* On smaller screens put the title on a separate line */
    .toolbar_title {
        text-align: center;
        width: 100%;
        margin-top: 64px;
    }
}

/* Fonts, obtained with https://gwfh.mranftl.com */
/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-v30-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/roboto-v30-latin-italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/roboto-v30-latin-italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/roboto-v30-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
